<nav class="subnav pull-right">
  <ul class="nav nav-pills" role="tablist">
    <%= subnav_link_default "Weekly view", calendar_week_path, match: '/calendar' %>
    <%= subnav_link "Upcoming tasks", calendar_upcoming_tasks_path %>
  </ul>
</nav>
