span.pomodorro-session-placeholder {
  margin-left: 10px; 
  font-size: 0.9em; 
  display:none;
}

span#pomodorro-session-flash {
  margin-left: 10px; 
  font-size: 0.9em; 
  display:none;
}

button.btn-pomoddoro-session-destroy {
  float: right;
}
