<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Task', new_task_path %></li>
    <li><%= link_to 'Note', new_note_path %></li>
    <li><%= link_to 'List', new_list_path %></li>
    <li><%= link_to 'Project', new_project_path %></li>
  </ul>
</li>
