<span id="pomodorro-session-flash"></span>
<span id="pomodorro-session" class="pomodorro-session-placeholder">
  <span id="pomodorro-session-label">Working on: </span>
  <span id="pomodorro-session-task"></span>
  <span id="pomodorro-session-separator">&nbsp;|&nbsp;</span>
  <span id="pomodorro-session-time"></span>
  <span id="pomodorro-session-destroy">
    &nbsp;<button class="btn btn-xs btn btn-pomoddoro-session-destroy" type="button" id="pomodorro-session-destroy-btn">quit</button>
  </span>
</span>
